
.img_map {
    max-width: 100%;
    height: 16rem;
    margin-bottom: 3rem;
}

.subtitle {
    margin-bottom: 3rem;
}

@media screen and (min-width: 980px) {

    .img_wrap {
        flex: content;
    }

}